In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
sns.set_style("whitegrid")
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

import os
print(os.listdir("C:/Users/deepak.rajak/Desktop/Solution"))

['Data_Science_Problem-external - Labeled.xlsx', 'Data_Science_Problem-external.xlsx', 'log_test.csv', 'log_train.csv']

In [2]:
training = pd.read_csv("C:/Users/deepak.rajak/Desktop/Solution/log_train.csv")
testing = pd.read_csv("C:/Users/deepak.rajak//Desktop/Solution/log_test.csv")

In [3]:
training.head()

,dir,local_ip,lp,mod,nm,prod,productId,protocol,ref,remote_ip,...,product_version,sp_major_version,sp_minor_version,trial_copy,vdb_timestamp,vertical_id,city_name,country_name,real_region_name,data_valid
0,in,124.9.177.201,94444,blk,jjjjjjjjjjjjjjjjjjj,NaN,qhpdt4,NaN,NaN,90.811.108.100,...,qhpver0,0.0,0,0,"01 March, 2019 (08:08:51)",government,city141,country4,region31,0
1,in,83.131.177.201,734034,blk,SMB/EternalBlue.UN!SP.31780,UN,qhpdt6,SMB,NaN,19.131.177.921.,...,qhpver0,3.0,0,0,"01 March, 2019 (08:08:31)",it,city170,country4,region40,0
2,in,124.9.177.201,94444,blk,jjjjjjjjjjjjjjjjjjj,NaN,qhpdt4,NaN,NaN,90.811.108.100,...,qhpver0,0.0,0,0,"01 March, 2019 (08:08:51)",finance,city141,country4,region31,0
3,in,83.131.177.277,734034,abc,SMB/EternalBlue.UN!SP.31780,UN,qhpdt6,SMB,NaN,19.131.177.921.,...,qhpver0,3.0,0,0,"01 March, 2019 (08:08:31)",it,city170,country4,region40,0
4,in,109.9.177.201,94444,blk,jjjjjjjjjjjjjjjjjjj,NaN,qhpdt9,NaN,NaN,10.195.154.98,...,qhpver0,1.0,0,0,"03 March, 2019 (08:09:50)",finance,city-1,country4,region-1,0

In [4]:
testing.head()

,dir,local_ip,lp,mod,nm,prod,productId,protocol,ref,remote_ip,...,product_name,product_version,sp_major_version,sp_minor_version,trial_copy,vdb_timestamp,vertical_id,city_name,country_name,real_region_name
0,in,99.10.177.201,94444,blk,jjjjjjjjjjjjjjjjjjj,NaN,qhpdt10,NaN,NaN,63.74.40.87,...,qhpname7,qhpver1,1,0,0,"03 March, 2019 (08:09:50)",manufacturing,city-1,country4,region-1
1,in,240.148.134.120,445,blk,SMB/CVE-2017-0147-EC.WIN!KP.1912,WIN,qhpdt9,SMB,NaN,194.37.255.189,...,qhpname7,qhpver0,1,0,0,"03 March, 2019 (08:09:50)",finance,city86,country4,region15
2,in,114.177.177.201,445,blk,SMB/CVE-2017-0147-EC.WIN!KP.1912,WIN,qhpdt10,SMB,NaN,113.177.177.921.,...,qhpname7,qhpver1,0,0,1,"03 March, 2019 (08:09:50)",defence,city144,country4,region26
3,in,84.13.124.19,445,blk,SMB/EternalBlue.UN!SP.31780,UN,qhpdt2,SMB,NaN,81.13.124.19,...,qhpname4,qhpver0,3,0,0,"03 March, 2019 (08:09:34)",educational,city155,country4,region28
4,in,84.13.124.19,445,blk,SMB/EternalBlue.UN!SP.31780,UN,qhpdt2,SMB,NaN,81.13.124.19,...,qhpname4,qhpver0,3,0,0,"03 March, 2019 (08:09:34)",finance,city155,country4,region28

In [5]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 35 columns):
dir                   1999 non-null object
local_ip              1999 non-null object
lp                    1999 non-null object
mod                   1999 non-null object
nm                    1999 non-null object
prod                  1876 non-null object
productId             1999 non-null object
protocol              1876 non-null object
ref                   0 non-null float64
remote_ip             1999 non-null object
rp                    1999 non-null object
sigid                 1876 non-null object
sigwid                1999 non-null object
timestamp             1999 non-null object
ua                    4 non-null object
url                   4 non-null object
company_name          1999 non-null object
cust_id               1999 non-null object
last_vdb_timestamp    1999 non-null object
machine_type          1926 non-null object
os_arch               1926 non-null object
os_id                 1926 non-null object
os_name               1926 non-null object
pkhash                1999 non-null object
product_name          1999 non-null object
product_version       1999 non-null object
sp_major_version      1926 non-null float64
sp_minor_version      1926 non-null object
trial_copy            1926 non-null object
vdb_timestamp         1999 non-null object
vertical_id           1918 non-null object
city_name             1999 non-null object
country_name          1999 non-null object
real_region_name      1999 non-null object
data_valid            1999 non-null int64
dtypes: float64(2), int64(1), object(32)
memory usage: 546.7+ KB

In [6]:
training['os_arch'] = training.os_arch.astype(str)
#training['dir'] = training.dir.astype('category')
testing['os_arch'] = testing.os_arch.astype(str)
#testing['dir'] = testing.dir.astype('category')

In [7]:
training['sp_major_version'] = training.sp_major_version.astype(str)
#training['dir'] = training.dir.astype('category')
testing['sp_major_version'] = testing.sp_major_version.astype(str)
#testing['dir'] = testing.dir.astype('category')

In [8]:
training['dir'] = training.dir.astype(str)
#training['dir'] = training.dir.astype('category')
testing['dir'] = testing.dir.astype(str)
#testing['dir'] = testing.dir.astype('category')

In [9]:
training['dir'] = training['dir'].replace(['in', 'out', 'ggkjlkj', 'rtortrit[orit'],[0, 1, 2, 3])

In [10]:
testing['dir'] = testing['dir'].replace(['in', 'out', 'ggkjlkj', 'rtortrit[orit', np.nan],[0, 1, 2, 3, 4])

In [11]:
training['os_arch'] = training['os_arch'].replace(['64Bit', '32Bit', '89', 'xyz', '96', 'o[p', 'dfdf'],[0, 1, 2, 2, 2, 2, 2])

In [12]:
testing['os_arch'] = testing['os_arch'].replace(['64Bit', '32Bit', '89', 'xyz', '96', 'o[p', 'dfdf'],[0, 1, 2, 2, 2, 2, 2])

In [13]:
training['trial_copy'] = training['trial_copy'].replace(['0', '1', '9', 'asd', '[po', 'fffff', 'i', np.nan],[0, 1, 2, 2, 2, 2, 2, 2])

In [14]:
testing['trial_copy'] = testing['trial_copy'].replace(['0', '1', '9', 'asd', '[po', 'fffff', 'i', np.nan],[0, 1, 2, 2, 2, 2, 2, 2])

In [15]:
training['sp_minor_version'] = training['sp_minor_version'].replace(['0', 'iiiiii', '99', '[po', np.nan],[0, 1, 1, 1, 1])

In [16]:
testing['sp_minor_version'] = testing['sp_minor_version'].replace(['0', 'iiiiii', '99', '[po', np.nan],[0, 1, 1, 1, 1])

In [17]:
training['lp'] = training['lp'].replace(['asd', np.nan],[0, 0])

In [18]:
testing['lp'] = testing['lp'].replace(['asd', np.nan],[0, 0])

In [19]:
training['rp'] = training['rp'].replace(['mek', np.nan],[0, 0])

In [20]:
testing['rp'] = testing['rp'].replace(['mek', np.nan],[0, 0])

In [21]:
training['os_id'] = training['os_id'].replace(['aasdsf', 'o[,' ,np.nan],[0, 0, 0])

In [22]:
testing['os_id'] = testing['os_id'].replace(['aasdsf', 'o[' ,np.nan],[0, 0, 0])

In [23]:
training['mod'] = training['mod'].replace(['blk', 'mon', 'abc', '888', 'xyz', 'def', 
                                           'jjkjkjljklj', 'khjklhlj', 'asdfasd', 'uiuiyiuyo', 
                                           'sdfsd', 'iiii','kkkkk', 'ppppp', 'jkhjkh','ttt',
                                           'nnn','jklhkl', 'mmm', 'jlk;', 'sdfds', 'yuio', 
                                           'hjklsdf', 'uibhjhjhk', 'fff', 'dff', 'ddd', 
                                           'dfs', 'df', 'fdsf', 'sdf',  'ffff', 'tttt',
                                           'kjl','rrr', np.nan],
                                          [0, 1, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 
                                          2, 2, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 2,
                                          2, 2, 2, 2, 2, 2,
                                          2, 2, 2])

In [24]:
testing['mod'] = testing['mod'].replace(['blk', 'mon', 'abc', '888', 'xyz', 'def', 
                                           'jjkjkjljklj', 'khjklhlj', 'asdfasd', 'uiuiyiuyo', 
                                           'sdfsd', 'iiii','kkkkk', 'ppppp', 'jkhjkh','ttt',
                                           'nnn','jklhkl', 'mmm', 'jlk;', 'sdfds', 'yuio', 
                                           'hjklsdf', 'uibhjhjhk', 'fff', 'dff', 'ddd', 
                                           'dfs', 'df', 'fdsf', 'sdf',  'ffff', 'tttt',
                                           'kjl','rrr', np.nan],
                                          [0, 1, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 
                                          2, 2, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 2, 2, 
                                          2, 2, 2, 2, 2,
                                          2, 2, 2, 2, 2, 2,
                                          2, 2, 2])

In [25]:
training['nm'] = training['nm'].replace(['jjjjjjjjjjjjjjjjjjj', 'SMB/EternalBlue.UN!SP.31780', 
                                           'SMB/CVE-2017-0147-EC.WIN!KP.1912', 'SMB/Autoblue.UN!SP.30735', 
                                           'SMB/CVE-2008-4250.WIN!VD.64', 'SMB/CVE-2017-0147-EC.WIN!KP.1912', 
                                           'SMB/Autoblue.UN!SP.30735', 'SMB/EternalBlue.UN!SP.31780', 'jjjjjjjjjjjjjjjjjjj', 
                                           'HTTP/Coinminer.CNC!SP.4843', 'NTP/Reflection.UN!SP.4544', 'SMB/CVE-2008-4250.WIN!VD.64', 
                                           'NTP/Reflection.UN!SP.4543', 'HTTP/APT-MaliciousUA.UN!KP.31556', 'SMB/ETERNALBLUE-ER.WIN!PK.2013', 
                                           'SMB/ETERNALBLUE.WIN!VS.2020', 'HTTP/GenOGNLCMDInject.Struts!PP.3131', 'HTTP/CoinhiveMiner.UN!KP.4461', 
                                           'SMB/ETERNALBLUE.WIN!PK.2434', 'SMB/DOUBLEPULSAR.WIN!PP.1996', 'SMB/CVE-2017-0144.WIN!PC.1901', 
                                           'SMB/CVE-2008-4250.Win!SP.31151', 'oipoipoi', 'k',  np.nan],
                                          [0, 1, 1, 1, 1, 1, 
                                          1, 1, 0, 1, 
                                          1, 1, 1, 1, 1, 1, 
                                          1, 1, 1, 1, 1, 1,
                                          0, 0, 0])

In [26]:
testing['nm'] = testing['nm'].replace(['jjjjjjjjjjjjjjjjjjj', 'SMB/EternalBlue.UN!SP.31780', 
                                           'SMB/CVE-2017-0147-EC.WIN!KP.1912', 'SMB/Autoblue.UN!SP.30735', 
                                           'SMB/CVE-2008-4250.WIN!VD.64', 'SMB/CVE-2017-0147-EC.WIN!KP.1912', 
                                           'SMB/Autoblue.UN!SP.30735', 'SMB/EternalBlue.UN!SP.31780', 'jjjjjjjjjjjjjjjjjjj', 
                                           'HTTP/Coinminer.CNC!SP.4843', 'NTP/Reflection.UN!SP.4544', 'SMB/CVE-2008-4250.WIN!VD.64', 
                                           'NTP/Reflection.UN!SP.4543', 'HTTP/APT-MaliciousUA.UN!KP.31556', 'SMB/ETERNALBLUE-ER.WIN!PK.2013', 
                                           'SMB/ETERNALBLUE.WIN!VS.2020', 'HTTP/GenOGNLCMDInject.Struts!PP.3131', 'HTTP/CoinhiveMiner.UN!KP.4461', 
                                           'SMB/ETERNALBLUE.WIN!PK.2434', 'SMB/DOUBLEPULSAR.WIN!PP.1996', 'SMB/CVE-2017-0144.WIN!PC.1901', 
                                           'SMB/CVE-2008-4250.Win!SP.31151', 'oipoipoi', 'k',  np.nan],
                                          [0, 1, 1, 1, 1, 1, 
                                          1, 1, 0, 1, 
                                          1, 1, 1, 1, 1, 1, 
                                          1, 1, 1, 1, 1, 1,
                                          0, 0, 0])

In [27]:
training['sigid'] = training['sigid'].replace(['asd',np.nan],[0, 0])

In [28]:
#training['local_ip'] = training['local_ip'].replace([np.nan],[0])

In [29]:
testing['sigid'] = testing['sigid'].replace(['asd', np.nan],[0, 0])

In [30]:
def validIP(address):
    parts = address.split(".")
    if len(parts) != 4:
        return 0
    for item in parts:
        if not 0 <= int(item) <= 255:
            return 0
    return 1

In [31]:
iplist = training['local_ip'].tolist()

In [32]:
training['local_ip'] = training['local_ip'].apply(validIP, iplist)

In [33]:
iplist1 = training['remote_ip'].tolist()

In [34]:
training['remote_ip'] = training['remote_ip'].apply(validIP, iplist1)

In [35]:
testing['local_ip'] = testing.local_ip.astype(str)

In [36]:
iplist2 = testing['local_ip'].tolist()

In [37]:
testing['local_ip'] = testing['local_ip'].apply(validIP, iplist2)

In [38]:
iplist3 = testing['remote_ip'].tolist()

In [39]:
testing['remote_ip'] = testing.remote_ip.astype(str)

In [40]:
testing['remote_ip'] = testing['remote_ip'].apply(validIP, iplist3)

In [41]:
#droping the columns by using drop() method
training.drop(labels = ["prod", "productId", "protocol", "ref", "sigwid", "timestamp", "ua", "url",
                       "company_name", "cust_id", "last_vdb_timestamp", "machine_type", "os_name", "pkhash",
                       "product_name", "product_version", "vdb_timestamp", "vertical_id", "city_name", 
                        "country_name","real_region_name", "rp", "os_id", "sigid", "sp_major_version"], axis = 1, inplace = True)
testing.drop(labels = ["prod", "productId", "protocol", "ref", "sigwid", "timestamp", "ua", "url",
                       "company_name", "cust_id", "last_vdb_timestamp", "machine_type", "os_name", "pkhash",
                       "product_name", "product_version", "vdb_timestamp", "vertical_id", "city_name", 
                        "country_name","real_region_name", "rp", "os_id", "sigid", "sp_major_version"], axis = 1, inplace = True)

In [42]:
display(training)

,dir,local_ip,lp,mod,nm,remote_ip,os_arch,sp_minor_version,trial_copy,data_valid
0,0,1,94444,0,0,0,0,0,0,0
1,0,1,734034,0,1,0,1,0,0,0
2,0,1,94444,0,0,0,0,0,0,0
3,0,0,734034,2,1,0,1,0,0,0
4,0,1,94444,0,0,1,2,0,0,0
5,0,0,94444,0,0,1,0,0,0,0
6,0,1,445,0,1,0,0,0,0,0
7,0,1,445,0,1,1,1,0,0,1
8,0,0,445,0,1,1,0,0,0,0
9,0,1,445,0,1,1,0,0,0,1
10,0,1,734034,0,1,1,0,0,0,1
11,0,0,734034,0,1,1,0,0,0,0
12,0,0,445,0,1,1,0,0,0,0
13,0,0,445,0,1,1,0,0,0,0
14,0,1,445,0,1,1,1,0,0,1
15,0,0,445,0,1,0,0,0,0,0
16,0,1,734034,0,1,0,0,0,0,0
17,0,0,734034,0,1,1,1,0,0,0
18,0,0,445,0,1,1,1,0,0,0
19,0,0,445,0,1,1,1,0,0,0
20,0,0,94444,0,0,1,0,0,0,0
21,0,1,94444,0,0,1,0,0,0,0
22,0,1,445,0,1,0,0,0,0,0
23,0,1,445,0,1,1,1,0,0,1
24,0,0,445,0,1,1,0,0,0,0
25,0,1,445,0,1,1,0,0,0,1
26,0,1,445,0,1,1,0,0,0,1
27,0,1,734034,0,1,1,0,0,0,1
28,0,0,734034,0,1,1,0,0,0,0
29,0,1,734034,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
1969,1,1,54501,0,1,1,1,0,0,1
1970,1,1,54502,0,1,1,1,0,0,1
1971,1,1,54503,0,1,1,1,0,0,1
1972,1,1,54504,0,1,1,1,0,0,1
1973,1,1,54505,0,1,1,1,0,0,1
1974,1,1,54506,0,1,1,1,0,0,1
1975,1,1,54507,0,1,1,1,0,0,1
1976,1,1,54508,0,1,1,1,0,0,1
1977,1,1,54509,0,1,1,1,0,0,1
1978,1,1,54510,0,1,1,1,0,0,1
1979,1,1,54511,0,1,1,1,0,0,1
1980,1,1,54512,0,1,1,1,0,0,1
1981,1,1,54513,0,1,1,1,0,0,1
1982,1,1,54514,0,1,1,1,0,0,1
1983,1,1,54515,0,1,1,1,0,0,1
1984,1,1,54516,0,1,1,1,0,0,1
1985,1,1,54517,0,1,1,1,0,0,1
1986,1,1,54518,0,1,1,1,0,0,1
1987,1,1,54519,0,1,1,1,0,0,1
1988,1,1,54520,0,1,1,1,0,0,1
1989,1,1,54521,0,1,1,1,0,0,1
1990,1,1,54522,0,1,1,1,0,0,1
1991,1,1,54523,0,1,1,1,0,0,1
1992,1,1,54524,0,1,1,1,0,0,1
1993,1,1,54525,0,1,1,1,0,0,1
1994,1,1,54526,0,1,1,1,0,0,1
1995,1,1,54527,0,1,1,1,0,0,1
1996,1,1,54528,0,1,1,1,0,0,1
1997,1,1,54529,0,1,1,1,0,0,1
1998,0,1,94444,0,0,1,0,0,0,0

In [43]:
print("Nulls information in testing datasets:")
pd.isnull(training).sum()

Nulls information in testing datasets:

dir                 0
local_ip            0
lp                  0
mod                 0
nm                  0
remote_ip           0
os_arch             0
sp_minor_version    0
trial_copy          0
data_valid          0
dtype: int64

In [44]:
training = training.fillna(method='ffill')

In [45]:
testing = testing.fillna(method='ffill')

In [47]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6001 entries, 0 to 6000
Data columns (total 9 columns):
dir                 6001 non-null object
local_ip            6001 non-null int64
lp                  6001 non-null object
mod                 6001 non-null int64
nm                  6001 non-null int64
remote_ip           6001 non-null int64
os_arch             6001 non-null object
sp_minor_version    6001 non-null int64
trial_copy          6001 non-null int64
dtypes: int64(6), object(3)
memory usage: 422.0+ KB

In [48]:
warnings.filterwarnings("ignore", category=DeprecationWarning) 
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

C:\Users\deepak.rajak\python\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [49]:
from sklearn.metrics import make_scorer, accuracy_score

In [50]:
from sklearn.model_selection import GridSearchCV

In [51]:
X_train = training.drop(labels=["lp", "data_valid"], axis=1) #define training features set
y_train = training["data_valid"] #define training label set
X_test = testing.drop("lp", axis=1) #define testing features set
#we don't have y_test, that is what we're trying to predict with our model

In [52]:
X_train = X_train.as_matrix().astype(np.float)
y_train = y_train.as_matrix().astype(np.float)

In [53]:
from sklearn.model_selection import train_test_split #to create validation data set

X_training, X_valid, y_training, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=0) #X_valid and y_valid are the validation sets

In [ ]:
rf_clf = RandomForestClassifier()

parameters_rf = {"n_estimators": [4, 5, 6, 7, 8, 9, 10, 15], "criterion": ["gini", "entropy"], "max_features": ["auto", "sqrt", "log2"], 
                 "max_depth": [2, 3, 5, 10], "min_samples_split": [2, 3, 5, 10]}

grid_rf = GridSearchCV(rf_clf, parameters_rf, scoring=make_scorer(accuracy_score))
grid_rf.fit(X_training, y_training)

rf_clf = grid_rf.best_estimator_

rf_clf.fit(X_training, y_training)
pred_rf = rf_clf.predict(X_valid)
acc_rf = accuracy_score(y_valid, pred_rf)

print("The Score for Random Forest is: " + str(acc_rf))

In [ ]:
logreg_clf = LogisticRegression()

parameters_logreg = {"penalty": ["l2"], "fit_intercept": [True, False], "solver": ["newton-cg", "lbfgs", "liblinear", "sag", "saga"],
                     "max_iter": [50, 100, 200], "warm_start": [True, False]}

grid_logreg = GridSearchCV(logreg_clf, parameters_logreg, scoring=make_scorer(accuracy_score))
grid_logreg.fit(X_training, y_training)

logreg_clf = grid_logreg.best_estimator_

logreg_clf.fit(X_training, y_training)
pred_logreg = logreg_clf.predict(X_valid)
acc_logreg = accuracy_score(y_valid, pred_logreg)

print("The Score for Logistic Regression is: " + str(acc_logreg))

In [ ]:
knn_clf = KNeighborsClassifier()

parameters_knn = {"n_neighbors": [3, 5, 10, 15], "weights": ["uniform", "distance"], "algorithm": ["auto", "ball_tree", "kd_tree"],
                  "leaf_size": [20, 30, 50]}

grid_knn = GridSearchCV(knn_clf, parameters_knn, scoring=make_scorer(accuracy_score))
grid_knn.fit(X_training, y_training)

knn_clf = grid_knn.best_estimator_

knn_clf.fit(X_training, y_training)
pred_knn = knn_clf.predict(X_valid)
acc_knn = accuracy_score(y_valid, pred_knn)

print("The Score for KNeighbors is: " + str(acc_knn))